.font-size-sm {
    font-size: $font-size-sm;
}
.font-size-xs {
    font-size: $font-size-xs;
}
.list-style-circle {
    list-style: disc;
}
.border-bottom-bold {
    border-bottom: 2px solid $dark;
}